<footer>
    <div>
        <ul id="FOOTER-TOP">
            <li id="LETS-CONNECT">LETS CONNECT THERE</li>
            <li id="HIRE-ME">
                <a href="form1.html" target="_blank" title="HIRE-ME">Hire Me</a>
            </li>
        </ul>
    </div>
    <div class="footer-container">
        <div class="social-media-container">
            <ul>
                <li class="BRAND-LOGO">
                    <img
                        src="Assets/LOGO_WHITE.png"
                        class="LOGO"
                        alt="LOGO"
                        title="LOGO"
                    >
                </li>
            </ul>
            <ul>
                <li id="FOLLOW-ME">FOLLOW ME ON SOCIAL MEDIA:</li>
            </ul>
            <div class="social-media-icons">
                <div>
                    <a href="https://www.facebook.com/nanyangpoly/" target="_blank">
                        <img
                            src="Assets/FACEBOOK_ICON.png"
                            class="ICON"
                            alt="FACEBOOK"
                            title="FACEBOOK"
                        >
                    </a>
                </div>
                <div>
                    <a href="https://www.instagram.com/nanyangpoly/" target="_blank">
                        <img
                            src="Assets/IG_ICON.png"
                            class="ICON"
                            alt="IG"
                            title="IG"
                        >
                    </a>
                </div>
                <div>
                    <a href="https://www.youtube.com/user/weareNYP" target="_blank">
                        <img
                            src="Assets/YOUTUBE_ICON.png"
                            class="ICON"
                            alt="YOUTUBE"
                            title="YOUTUBE"
                        >
                    </a>
                </div>
                <div>
                    <a href="https://www.tiktok.com/@nanyangpoly" target="_blank">
                        <img
                            src="Assets/TIKTOK_ICON.png"
                            class="ICON"
                            alt="TIKTOK"
                            title="TIKTOK"
                        >
                    </a>
                </div>
            </div>
        </div>
        <div class="nav-links-container">
            <ul>
                <li>
                    <a href="index.html" target="_self" title="HOME_PAGE">HOME</a>
                </li>
                <li>
                    <a href="ABOUT.html" target="_self" title="ABOUT_PAGE">ABOUT</a>
                </li>
                <li>
                    <a href="CASE.html" target="_self" title="CASE_PAGE">CASE</a>
                </li>
                <li>
                    <a href="CONTACT.html" target="_self" title="CONTACT_PAGE">CONTACT</a>
                </li>
            </ul>
        </div>
        <div class="form-container">
            <span id="HAVE-AN-AWESOME-PROJECT-IDEA">
                HAVE AN AWESOME PROJECT IDEA?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LET'S DISCUSS
            </span>
            <!-- Your existing HTML content -->
            <form action="mailto:230107R@mymail.nyp.edu.sg" class="custom-form">
                <div class="email-input-container">
                    <!-- Left Icon -->
                    <img
                        src="Assets/EMAIL_ICON.png"
                        title="EMAIL-Icon"
                        alt="EMAIL-Icon"
                        class="EMAIL-icon"
                    >
                    <!-- Input Field -->
                    <input
                        value=""
                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                        name="user-email"
                        title="Enter a valid email address"
                        type="email"
                        placeholder="Enter E-mail"
                        class="email-input"
                        required
                    >
                </div>
                <!-- Submit Button -->
                <button type="submit" class="submit-button">Send</button>
            </form>
            <div id="three-icons-container">
                <div>
                    <img src="Assets/LIGHT_BULB_ICON.png" alt="BULB-ICON" title="BULB-ICON">
                    Adhere to original design
                </div>
                <div>
                    <img src="Assets/QUICK_DRAWING_ICON.png" alt="QUICK-DRAWING-ICON" title="QUICK-DRAWING-ICON">
                    Quick drawing
                </div>
                <div>
                    <img src="Assets/UNTIL_SATISFIED_ICON.png" alt="UNTIL-SATISFIED-ICON" title="UNTIL-SATISFIED-ICON">
                    Until satisfied
                </div>
            </div>
        </div>
    </div>
    <div>
        <ul id="FOOTER-BOTTOM">
            <li id="POWERED-BY">C 2023  KOH ZI JIE  Powered by</li>
            <li id="SITEMAP">Sitemap</li>
        </ul>
    </div>
</footer>
