<nav class="MAIN-MENU">
    <ul>
        <li class="home-menu">
            <a href="index.html" title="HOME_PAGE" target="_self">HOME</a>
        </li>
        <li class="about-menu">
            <a href="ABOUT.html" title="ABOUT_PAGE" target="_self">ABOUT</a>
        </li>
    </ul>
    <div id="NAV-LOGO" onclick="goToHomePage()"></div>
    <ul>
        <li class="case-menu">
            <a href="CASE.html" title="CASE_PAGE" target="_self">CASE</a>
        </li>
        <li class="contact-menu">
            <a href="CONTACT.html" title="CONTACT_PAGE" target="_self">CONTACT</a>
        </li>
    </ul>
</nav>
